rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email in [
        'pavitr.4444@gmail.com',
        'arpitpathak2408@gmail.com',
        'harshitsb2615@gmail.com'
      ];
    }

    match /products/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}